body{
    background: url("@/assets/images/menuburger.png")top/contain no-repeat!important;
    
}
.btnAddArticle{
    background-color: #f4fffb;
    color: black;
    width: 150px;
    height: 50px;
    font-weight: 700;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btnDisplayArticle{
    background-color: #f4fffb;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}