body{
    background: url("@/assets/images/menuburger.png")top/contain no-repeat!important;
}

form i {
    margin-left: -20px;
    cursor: pointer;
    width: 200px;
    color: black;
    font-weight: 900;
}
input {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;   
}
.form-group{
    padding-top:20px;
}